@page
@model IndexModel
@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] - Student Details</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <!-- Header -->
    <header>
        <div class="container">
            <h1>Project Details</h1>
        </div>
    </header>

    <!-- Main Content -->
    <main>
        <div class="container"

            <h2>Links To Word Doc and Repo</h2>
            <p>Word Document: https://1drv.ms/f/s!AhlGweYfShnEpVHVVWlEzSfXqQYE?e=TGZenm</p>
            <p>Github Repo: https://github.com/TrueWhiteLion/Enterprise-Programming-in-C-Project.git </p>
        </div>
    </main>

    <!-- Footer -->
    <footer>
       
    </footer>
</body>
</html>