@page
@model IndexModel
@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] - Student Details</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <!-- Header -->
    <header>
        <div class="container">
            <h1>My Student Details</h1>
        </div>
    </header>

    <!-- Main Content -->
    <main>
        <div class="container">
            <h2>Name: Frederik Christoffel Kotze</h2>
            <h2>Student Number: g8lgwkt59</h2>
        </div>
    </main>

    <!-- Footer -->
    <footer>
       
    </footer>
</body>
</html>